.my-carousel{
	margin-top: -20px;
}
body{
	background-color:blue;
}
.nav navbar-nav navbar-right{
	color: white;
}
.navbar{
	
	border:none;
}
.row{
	margin-top: 20px;
	text-align: center;
	font-size: 200px;
}
.footer{
	background-color: #004d80;
	color: white;
}