body{
	background-color:#66ccff;
}



.my-carousel{
	margin-top: -20px;
}


}
.navbar{

	border:none;
}
.item img{
	width: 100%;
	object-fit: cover;
	object-position: 50% 50%;
	height: 100% !important;
}
.item{
	height: 400px;
}

.jumbotron{
	background-color:#e6e600;
	color: white;
	text-align: center;
	font-size: 70px;

}

.titular{
	background-color:#e6e600;
 	box-sizing:content-box;
}



.header{
	text-align: center;
	color:black;
	background-color:#ff8000;
	border:solid 2px white;

}


.notice-1{
	border-bottom: solid 2px white;
}
.notice-2{
	border-bottom: solid 2px white;
}
.notice-3{
	margin-bottom: 30px;
}

p {
	color: white;
}
h1 {
	color: white;
}
h2{
	color: white;
}
h3{
	color: white;
}
h4{
	color: white;
}
h6{
	font-size: 20px;
}
li {
	color: white;
}

.row{
	padding: 0;
	margin: 0;
	text-align: center;
	}

.footer{
	background-color:#00cc44;
	color: white;
	padding: 0;
	margin: 0;
	padding-bottom: 20px;

}
iframe{
	margin-top: 20px;
}
form{
	text-align: center;
	color: black;
	width: 400px;
	margin: auto;
	background:#33ff77;
	border-radius: 10px;
}
input {
	width: 90%;
	margin-bottom: 10px;
	box-sizing: border-box;
}
textarea{
	width: 90%;
}
