body{
	background-color:#006bb3; padding: 0; margin: 0; border:none;
}



.my-carousel{
	margin-top: -20px;
}


}
.navbar{
	
	border:none;
}

.jumbotron{

	background-color: #003d66;
	color: white;
	text-align: center;
	font-size: 70px;

}
.header{
	text-align: center;
	color:black;
	background-color: #003d66;
	border:solid 2px white;

}
.notice-1{
	border-bottom: solid 2px white;
}
.notice-2{
	border-bottom: solid 2px white;
}

p {
	color: white;
}
h1 {
	color: white;
}
h2{
	color: white;
}
h3{
	color: white;
}
h4{
	color: white;
}
li {
	color: white;
}

.row{
	padding: 0;
	margin: 0;
	text-align: center;
}
.footer{
	background-color: #004d80;
	color: white;
	padding: 0;
	margin: 0;

}
iframe{
	margin-top: 20px;
}
form{
	text-align: center;
	color: black;
	width: 400px;
	margin: auto;
	background:#003d66;
	border-radius: 10px;
}
input {
	width: 90%;
	margin-bottom: 10px;
	box-sizing: border-box;
}
textarea{
	width: 90%;
}
